// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.jsondb-atom-plugin {
  //width: 50%;
}

.jsondb-atom-plugin-title {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 15px;
}

.jsondb-atom-plugin-red-title {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 15px;
  background: red;
}

.jsondb-atom-plugin-editor {
  height: 100%;
  width: 500px;
  //line-numbers: false;
}
